/* Seletor por ID */
img 
{
    width: 225px;
    height: 200px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin: 15px;
}

body 
{
    background-image: linear-gradient(rgb(158, 158, 158), rgb(158, 158, 158));
    font-family: Arial, sans-serif;
    background-color: black;
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

h2, h3
{
    margin: 10px;
}

p
{
    margin: 5px;
}

/* Menu */
nav {
    background-color: #000000;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #de2e2e;
}

/* Rodape */
footer {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: #fff;
}